Live_Task_AI_Testing/Task_05th_July/AI3X_Basic_RAG_n8n.json
{
  "name": "AI3X_Basic_RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Documents for RAG",
        "formDescription": "Upload one or more PDF, JSON, or CSV files to add to the knowledge base ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Files",
              "fieldType": "file",
              "fieldName": "files",
              "acceptFileTypes": ".pdf, .csv, .json, .txt, .html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -320,
        128
      ],
      "id": "0bbb2490-d879-464a-ac53-f866a5ea84bd",
      "name": "On form submission",
      "webhookId": "0aa55000-8b02-4818-b66d-cebb1c5fc7ae"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        144
      ],
      "id": "160f567c-858c-49fa-960f-42510ade2c32",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "07OHM5QvtfWyVPpo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "FileName ",
                "value": "={{ $('On form submission').item.json.files[0].filename }}"
              },
              {
                "name": "uploaded AT ",
                "value": "={{ $('On form submission').item.json.submittedAt }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        144
      ],
      "id": "70a16eff-80cc-4a4d-a5db-1feebaafb5c9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        112,
        352
      ],
      "id": "746d83df-3378-43a9-a59e-76e03d23f4d1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ai3x-rahul-1536",
          "mode": "list",
          "cachedResultName": "ai3x-rahul-1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        -80
      ],
      "id": "52c86d17-98f7-46bd-8e5e-67822bfa34ad",
      "name": "Store the Docs to vector DB",
      "credentials": {
        "pineconeApi": {
          "id": "9S9ltH7vk7j7SEko",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## I'm a note \nSet up for ingestion of PDFS into Vector database ",
        "height": 640,
        "width": 1328
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -144
      ],
      "typeVersion": 1,
      "id": "41926b21-ae56-4947-ba55-ac78efbb30bc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RAG fetching",
        "height": 512,
        "width": 1328,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        608
      ],
      "typeVersion": 1,
      "id": "d230fb8d-ebaf-4848-9a04-6cac98d3fef5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        768
      ],
      "id": "09c924dd-4543-49b2-a655-5683c7bb34db",
      "name": "When chat message received",
      "webhookId": "71f6275d-5d76-4ce1-b2dd-99d662b2978b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        688
      ],
      "id": "d6e37659-7f91-4f72-adc4-f59b47a09a37",
      "name": "RAG Agent",
      "notes": "You are a helpful assistant that answers questions based only on the retrieved documents. Use the 'Retrieve from Pinecone \" tool to search for relevant information. If you can not find the answers in the retrieved documents, just say \"I couldn't find that in the uploaded file\"."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        944
      ],
      "id": "97959e6f-2d52-4c46-b73e-8aa1d8ea1016",
      "name": "Brain-gpt-5 -mini",
      "credentials": {
        "openAiApi": {
          "id": "07OHM5QvtfWyVPpo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        48,
        928
      ],
      "id": "f2505379-e233-48c7-b25b-1a64702aad9c",
      "name": "Model Chat Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the uploaded PDF documents for relevant information before answering the user's question.\"",
        "pineconeIndex": {
          "__rl": true,
          "value": "ai3x-rahul-1536",
          "mode": "list",
          "cachedResultName": "ai3x-rahul-1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        928
      ],
      "id": "16b0a434-e0e2-4633-9001-2789c372aec7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9S9ltH7vk7j7SEko",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        1040
      ],
      "id": "a4373c43-339e-446d-83da-05e9624141bc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "07OHM5QvtfWyVPpo",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Store the Docs to vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Store the Docs to vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store the Docs to vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain-gpt-5 -mini": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e56fcbef-1007-43be-a37d-0c49af9e958f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00609ff085745dbf895bb029c627aacd3babb33dd0474a1986aeb3104aea6d76"
  },
  "nodeGroups": [],
  "id": "WccZPe16aJyrdoUP",
  "tags": []
}